// Typography
$serif: 'Noto Serif TC', serif;

// Color
$black: #1A1A18;
$dark: #333333;
$dark2: #4C4D59;
$gray:#808080;
$gray2:#F5F5F7;
$blue:#3A71C9;
$orange:#FF7B43;
$white:#ECECEC;
$brand-bg:#FBF7F3;
$brand-color: #FF9A47;

// Images
$mmlogo: 'images/mm.png';
$mmlogo-white: 'images/mm-white.png';
$mmlogo-footer: 'images/mm-footer.png';
$iclogo: 'images/ic.png';