<!DOCTYPE html>
<html>
    {{>htmlHead}}
    <body class="bg-main">
        {{> common/header}}
        {{{body}}}
        {{> common/footer}}
        <script src="js/script.js"></script>
    </body>
</html>