<main>

  <div class="mx-auto container">
    <div class="bg-white rounded px-7 md:px-20 py-16 md:py-20 mx-5 md:mx-0 mt-5 md:mt-0">
      {{> common/title title="分行網絡"}}

      <iframe class="w-full mt-5 h-732"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3693.762220799597!2d113.55539255034986!3d22.21114095166692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34017b25ab2add3f%3A0xc01fda32f517cf9b!2z5r6z6ZaA6buR5rKZ55Kw5Lit6KGXNjg46Jmf!5e0!3m2!1szh-TW!2stw!4v1624786490752!5m2!1szh-TW!2stw"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      <div class="mt-20">
        {{> common/subTitle title="澳門區"}}

        <div class="mt-5">
          {{> common/branch title="東方明珠總部"}}
          {{> common/branch title="東方明珠總部"}}
          {{> common/branch title="東方明珠總部"}}
        </div>
      </div>

      <div class="mt-20">
        {{> common/subTitle title="路氹區"}}

        <div class="mt-5">
          {{> common/branch title="氹仔分行"}}
        </div>
      </div>

      <div class="mt-20">
        {{> common/subTitle title="大灣區"}}

        <div class="mt-5">
          {{> common/branch title="橫琴辦事處"}}
        </div>
      </div>

    </div>

  </div>

  <div class="mx-auto container my-8 md:my-12">
    <div class="bg-white rounded px-7 md:px-20 md:py-20 pt-12 md:mx-0 mx-5">
      <div class="md:flex">
        <div class="md:w-1/3">
          <div>
            <img src="images/LogoHalf.png" class="w-10">
            <h3 class="text-2xl md:text-xl font-bold">聯絡我們</h3>
          </div>
          <h1 class="text-3xl md:text-5xl text-blue font-bold mt-12 md:mt-5 leading-tight">
            您的建議<br>
            可使我們進步
          </h1>

          <p class="mt-5 text-gray text-sm font-light leading-normal">
            公司從2015年12月開始營運至今，憑藉經營團隊的努力，穩步發展，現時在全澳共設有四間對外門店，分別座落於澳門東方明珠區，筷子基區、林茂堂區及氹仔區

          </p>

          <div class="mt-10">
            <div class="flex">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8.8L11 0L0 8.8V11H2.2V22H7.7V17.6C7.7 16.7248 8.04768 15.8854 8.66655 15.2665C9.28542 14.6477 10.1248 14.3 11 14.3C11.8752 14.3 12.7146 14.6477 13.3335 15.2665C13.9523 15.8854 14.3 16.7248 14.3 17.6V22H19.8V11H22V8.8Z" fill="#4C4D59"></path>
              </svg>
              <div class="ml-3 text-dark2">
                想要<a href="#" class="text-orange">買盤?</a> 或是想要<a href="#" class="text-orange">放盤?</a>
              </div>
            </div>

            <div class="flex mt-3">
              <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.66667 24C1.66667 24 0 24 0 22.3333C0 20.6667 1.66667 15.6667 10 15.6667C18.3333 15.6667 20 20.6667 20 22.3333C20 24 18.3333 24 18.3333 24H1.66667ZM10 14C11.3261 14 12.5979 13.4732 13.5355 12.5355C14.4732 11.5979 15 10.3261 15 9C15 7.67392 14.4732 6.40215 13.5355 5.46447C12.5979 4.52678 11.3261 4 10 4C8.67392 4 7.40215 4.52678 6.46447 5.46447C5.52678 6.40215 5 7.67392 5 9C5 10.3261 5.52678 11.5979 6.46447 12.5355C7.40215 13.4732 8.67392 14 10 14Z" fill="#4C4D59"></path>
                <path d="M16.3665 2.26966C16.1222 2.66292 16 3.10112 16 3.57303H17.1403C17.1403 3.05618 17.3167 2.64045 17.6697 2.32584C18.0226 2.01124 18.4977 1.85393 19.095 1.85393C19.6109 1.85393 20.0181 1.97753 20.3439 2.20225C20.6697 2.42697 20.8326 2.7191 20.8326 3.07865C20.8326 3.37079 20.7376 3.62921 20.5747 3.83146C20.4118 4.04494 20.1538 4.24719 19.8281 4.4382C19.4751 4.64045 19.2172 4.79775 19.0271 4.93258C18.8371 5.06742 18.6878 5.22472 18.5656 5.42697C18.4299 5.62921 18.3756 5.8764 18.3756 6.14607V6.53933H19.4208V6.24719C19.4208 5.97753 19.5158 5.75281 19.7059 5.57303C19.8959 5.39326 20.2081 5.17978 20.6697 4.91011C21.0769 4.67416 21.4027 4.40449 21.6471 4.11236C21.8778 3.82023 22 3.44944 22 2.98876C22 2.60674 21.8778 2.26966 21.6335 1.96629C21.3891 1.67416 21.0498 1.4382 20.6154 1.25843C20.1674 1.08989 19.6516 1 19.0814 1C18.457 1 17.9005 1.11236 17.4389 1.33708C16.9774 1.5618 16.6109 1.8764 16.3665 2.26966ZM18.362 7.92135C18.2127 8.03371 18.1448 8.19101 18.1448 8.37079C18.1448 8.5618 18.2127 8.7191 18.362 8.83146C18.4977 8.94382 18.6878 9 18.9186 9C19.1357 9 19.3258 8.94382 19.4751 8.83146C19.6109 8.7191 19.6923 8.5618 19.6923 8.37079C19.6923 8.19101 19.6109 8.03371 19.4751 7.92135C19.3258 7.80899 19.1357 7.74157 18.9186 7.74157C18.6878 7.74157 18.4977 7.80899 18.362 7.92135Z" fill="#4C4D59" stroke="#4C4D59" stroke-width="0.5"></path>
              </svg>


              <div class="ml-3 text-dark2">
                在找心儀的<a href="#" class="text-orange">物業經理?</a>
              </div>
            </div>


          </div>
        </div>
        <div class="md:w-2/3">
          <div class="md:sec-border ml-0 md:ml-20 py-12 md:p-12">
            <div class="mb-5">
              <label class="text-gray">姓名 Name</label>
              <input type="text" class="placeholder-gray bg-gray2 w-full block rounded-lg py-3 px-4 text-lg mt-2 focus:border-orange" placeholder="name">
            </div>          <div class="mb-5">
              <label class="text-gray">電子郵件 Email</label>
              <input type="text" class="placeholder-gray bg-gray2 w-full block rounded-lg py-3 px-4 text-lg mt-2 focus:border-orange" placeholder="example@mail.com">
            </div>
            <div class="mb-5">
              <label class="text-gray">電話 Phone (選填) </label>

              <div class="flex  text-lg mt-2 rounded-lg bg-gray2 overflow-hidden">
                <div class="w-3/12">
                  <select class="bg-gray2 border-none w-full text-black p-2 select-border focus:border-orange">
                    <option>
                      +853
                    </option>
                  </select>
                </div>
                <div class="w-9/12">
                  <input type="text" class="placeholder-gray w-full block py-3 px-4 focus:border-orange bg-gray2" placeholder="2828 0419">

                </div>
              </div>
            </div>

            <div class="mb-5">
              <label class="text-gray">留言 Message</label>
              <textarea type="text" class="placeholder-gray bg-gray2 w-full block rounded-lg py-3 px-4 text-lg mt-2 focus:border-orange h-60" placeholder="有甚麼要告訴我們的嗎?"></textarea>
            </div>
            <div class="mt-10">
              <a href="#" class="btn btn-primary lg block text-center">
                  確認送出
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>