<footer>
    <div class="bg-white">
        <div class="container mx-auto">
            <div class="pt-14">
                <div class="pt-24 pb-16 px-14 md:px-0">
                    <div class="md:flex">
                        <div class="md:w-1/5">
                            <div>
                                <img src="images/logo2.png">
                            </div>

                            <div class="md:mt-12 mt-8 md:block grid grid-cols-2">
                                <div class="social-group">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M25 12.5764C25 5.63064 19.4036 0 12.5 0C5.59644 0 0 5.63064 0 12.5764C0 18.8536 4.57107 24.0565 10.5469 25V16.2118H7.37305V12.5764H10.5469V9.80566C10.5469 6.6537 12.413 4.91265 15.2683 4.91265C16.6359 4.91265 18.0664 5.15829 18.0664 5.15829V8.25326H16.4902C14.9374 8.25326 14.4531 9.2227 14.4531 10.2173V12.5764H17.9199L17.3657 16.2118H14.4531V25C20.4289 24.0565 25 18.8536 25 12.5764Z"
                                            fill="#333333"></path>
                                    </svg>
                                    <span>
                                        Facebook
                                    </span>
                                </div>
                                <div class="social-group">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.5 0C19.4103 0 25 5.59099 25 12.4953C25 19.409 19.4055 25.0047 12.4953 25C5.58028 24.9953 -0.0094541 19.3949 1.20053e-05 12.4859C0.00947811 5.58161 5.59922 0 12.5 0ZM7.11852 16.06C7.12799 16.0694 7.14219 16.0741 7.15166 16.0835C7.19899 16.06 7.24158 16.0366 7.28418 16.0084C7.65336 15.7786 8.02727 15.5628 8.38225 15.3189C8.66623 15.1266 8.96915 15.0938 9.29573 15.136C9.67437 15.1829 10.0483 15.2298 10.4269 15.2767C10.602 15.3002 10.602 15.3002 10.5926 15.1266C10.5642 14.4934 10.6163 13.8743 10.8624 13.288C11.4114 11.9887 12.3864 11.1538 13.7022 10.6942C14.185 10.5253 14.6914 10.4456 15.2026 10.4128C15.2972 10.4081 15.3588 10.3893 15.3446 10.272C15.2783 9.74203 15.1269 9.24015 14.8618 8.7758C14.3128 7.80488 13.5081 7.11538 12.4858 6.68855C10.9807 6.05535 9.47085 6.08818 7.97994 6.74953C6.82034 7.26079 5.96366 8.07692 5.50929 9.28236C5.08331 10.4081 5.10224 11.5197 5.66074 12.6032C6.02046 13.2974 6.54583 13.8415 7.17532 14.2917C7.41671 14.4653 7.45457 14.5872 7.37884 14.8687C7.31731 15.1079 7.26052 15.3424 7.20845 15.5816C7.17532 15.7411 7.14692 15.9006 7.11852 16.06ZM18.3453 18.7899C18.3595 18.7805 18.3737 18.7711 18.3879 18.7664C18.3501 18.6445 18.3264 18.5178 18.2696 18.4053C18.1087 18.0675 18.1371 17.8143 18.3785 17.5328C18.4495 17.4484 18.5346 17.378 18.6151 17.2983C19.5239 16.4447 19.9404 15.4034 19.7368 14.1604C19.557 13.0769 18.9701 12.2326 18.0613 11.6276C17.1242 11.0038 16.0829 10.7692 14.9707 10.8724C13.7259 10.985 12.6846 11.515 11.8894 12.4859C10.9144 13.6773 10.8103 15.2955 11.6575 16.5619C12.5142 17.8471 13.7306 18.5131 15.283 18.5507C15.709 18.56 16.1208 18.4944 16.5231 18.363C16.9349 18.227 17.3277 18.2692 17.7064 18.4709C17.8815 18.5647 18.0519 18.6538 18.227 18.7383C18.2601 18.7617 18.3027 18.7758 18.3453 18.7899Z"
                                            fill="#333333"></path>
                                        <path
                                            d="M11.79 9.81707C11.79 9.49343 12.0456 9.24015 12.3769 9.24015C12.7035 9.24015 12.9591 9.49343 12.9591 9.81238C12.9591 10.136 12.7083 10.3846 12.3817 10.3893C12.0456 10.3893 11.79 10.1454 11.79 9.81707Z"
                                            fill="#333333"></path>
                                        <path
                                            d="M8.51004 9.24015C8.84136 9.24015 9.10167 9.49812 9.09694 9.81707C9.09694 10.136 8.84135 10.3846 8.51477 10.3846C8.18819 10.3893 7.92788 10.1313 7.92788 9.80769C7.92788 9.48874 8.17873 9.24015 8.51004 9.24015Z"
                                            fill="#333333"></path>
                                        <path
                                            d="M13.5034 14.0478C13.2336 14.0478 13.0254 13.8462 13.0254 13.5835C13.0254 13.3255 13.2431 13.1051 13.4939 13.1004C13.759 13.0957 13.9767 13.3114 13.9767 13.5788C13.9767 13.8462 13.7732 14.0432 13.5034 14.0478Z"
                                            fill="#333333"></path>
                                        <path
                                            d="M17.0911 13.5835C17.0911 13.8555 16.897 14.0432 16.6272 14.0432C16.3574 14.0432 16.1587 13.8368 16.1587 13.5694C16.1634 13.3161 16.3764 13.1004 16.6272 13.1004C16.8875 13.1004 17.0911 13.3114 17.0911 13.5835Z"
                                            fill="#333333"></path>
                                    </svg>

                                    <span>
                                        Wechat
                                    </span>
                                </div>
                                <div class="social-group">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5Z"
                                            fill="#333333"></path>
                                        <path
                                            d="M20.2537 8.20156C20.625 9.59375 20.625 12.5 20.625 12.5C20.625 12.5 20.625 15.4063 20.2537 16.7984C20.0473 17.568 19.4436 18.1734 18.6791 18.3781C17.2905 18.75 12.5 18.75 12.5 18.75C12.5 18.75 7.71194 18.75 6.32094 18.3781C5.55313 18.1703 4.95025 17.5656 4.74631 16.7984C4.375 15.4063 4.375 12.5 4.375 12.5C4.375 12.5 4.375 9.59375 4.74631 8.20156C4.95269 7.43203 5.55638 6.82656 6.32094 6.62187C7.71194 6.25 12.5 6.25 12.5 6.25C12.5 6.25 17.2905 6.25 18.6791 6.62187C19.4469 6.82969 20.0498 7.43438 20.2537 8.20156ZM10.875 15.2344L15.75 12.5L10.875 9.76562V15.2344Z"
                                            fill="white"></path>
                                        <path d="M10.625 15.625L15.625 12.5L10.625 9.375V15.625Z" fill="#333333"></path>
                                    </svg>


                                    <span>
                                        Youtube
                                    </span>
                                </div>

                                <div class="social-group dark">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5Z"
                                            fill="#333333"></path>
                                        <path d="M10.625 15.625L15.625 12.5L10.625 9.375V15.625Z" fill="#333333"></path>
                                    </svg>

                                    <span>
                                        Instagram
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-4/5 mt-12 md:mt-16 md:mt-0">
                            <div class="md:grid md:grid-cols-5 ft-nav-group">
                                <div x-data="{show:false}" class="ft-nav">
                                    <div @click="show=!show" class="title text-gray">
                                        <div class="flex justify-between">
                                            <span>關於好來屋</span>
                                            <span class="func md:hidden">
                                                <img x-show="!show" src="images/add.png" />
                                                <img x-show="show" src="images/odd.png" />
                                            </span>

                                        </div>
                                    </div>
                                    <div :class="{'ft-navbar':true, 'show':show}">
                                        <a href="#" class="ft-nav-item">
                                            關於我們
                                        </a>
                                        <a href="#" class="ft-nav-item">
                                            關於我們
                                        </a>
                                    </div>
                                </div>
                                <div x-data="{show:false}" class="ft-nav">
                                    <div @click="show=!show" class="title text-gray">
                                        <div class="flex justify-between">
                                            <span>動態資訊</span>
                                            <span class="func md:hidden">
                                                <img x-show="!show" src="images/add.png" />
                                                <img x-show="show" src="images/odd.png" />
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <div :class="{'ft-navbar':true, 'show':show}">
                                        <a href="#" class="ft-nav-item">
                                            好來屋動態
                                        </a>
                                        <a href="#" class="ft-nav-item">
                                            成交資訊
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-0 md:mt-16 border-bottom">
                                <div x-data="{show:false}" class="ft-nav">
                                    <div @click="show=!show" class="title text-gray">
                                        <div class="flex justify-between">
                                            <span>分行地址與電話</span>
                                            <span class="func">
                                                <img x-show="!show" src="images/add.png" />
                                                <img x-show="show" src="images/odd.png" />
                                            </span>
                                        </div>                                        
                                    </div>

                                    <div :class="{'address-ctn':true, 'show':show}">
                                        <div class="md:grid md:grid-cols-5">
                                            <div class="address-group">
                                                <div class="title">
                                                    東方明珠總行
                                                </div>
                                                <div class="address">
                                                    黑沙環中街688號海名居Z鋪

                                                </div>
                                                <div class="phone">
                                                    +853 2828 0419
                                                </div>
                                            </div>
                                            <div class="address-group">
                                                <div class="title">
                                                    東方明珠總行
                                                </div>
                                                <div class="address">
                                                    黑沙環中街688號海名居Z鋪

                                                </div>
                                                <div class="phone">
                                                    +853 2828 0419
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-gray text-small text-center mt-12 md:mt-20 pb-16 mx-10 md:mx-0">
                    Copyright © 2021 好來屋網絡地產有限公司 著作權所有，並保留一切權利。
                </div>
            </div>
        </div>
    </div>
</footer>