<div class="mb-5">
  <label class="text-gray">{{label}}</label>
  <textarea type="text"
    class="placeholder-gray bg-gray2 w-full block rounded-lg py-3 px-4 text-lg mt-2 focus:border-orange h-60"
    placeholder="{{placeholder}}"></textarea>
</div>